---
lang: en
---
<!doctype html>

<html lang="{{lang}}">
	<head>
		{% getBundle "autoredirect"%}
		<title>{{name[lang]}}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<meta name="description" content="{{site.desc[lang]}}" />
		<meta name="og:title" content="{{name[lang]}}" />
		<meta name="og:type" content="profile" />
		<meta name="og:description" content="{{site.desc[lang]}}" />
		<meta name="og:url" content="https://resume.kevinnlsamuel.com/" />
		<!--<meta name="og:image" content="https://resume.kevinnlsamuel.com/" />-->
		{%unless production-%}
		<link rel="stylesheet" href="/dev.css" />
		{%-endunless%}
		<link rel="stylesheet" href="/style.css" />
	</head>

	<body class="p-2 md:p-4
				 mx-auto w-11/12 md:w-3/4 lg:w-1/2
		min-h-screen min-h-dvh grid grid-rows-[5ex_auto_3ex] print:grid-rows-1">
		{{content}}
	</body>
</html>
