---
lang: en
---
<!doctype html>

<html>
	<head>
		{% getBundle "autoredirect"%}
		<title>{{name[lang]}}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<meta name="description" content="{{site.desc[lang]}}" />
		<meta name="og:title" content="{{name[lang]}}" />
		<meta name="og:type" content="profile" />
		<meta name="og:description" content="{{site.desc[lang]}}" />
		<meta name="og:url" content="https://resume.kevinnlsamuel.com/" />
		<!--<meta name="og:image" content="https://resume.kevinnlsamuel.com/" />-->
		<link rel="stylesheet" href="/style.css" />
	</head>

	<body class="p-2 md:p-4 min-h-screen min-h-dvh grid grid-rows-[5ex_auto_3ex]">
		{{content}}
	</body>
</html>
