{%assign x = experience[exp_code][lang]%}
{%if direction == "rtl"%}
	{%assign float = "float-left text-left"%}
	{%assign clear = "clear-left"%}
	{%assign align = "text-right"%}
	{%assign bordercolourstops = "from-bg to-secondary from-40%"%}
{%else%}
	{%assign float = "float-right text-right"%}
	{%assign clear = "clear-right"%}
	{%assign align = "text-left"%}
	{%assign bordercolourstops = "from-secondary to-bg to-60%"%}
{%endif%}
<article class="p-2 bg-bg last-of-type:border-b-0 border-b-2 border-b-primary">

	<header class="flow-root pl-px pb-px thatonefancyborder {{bordercolourstops}} {{align}}">
		<p class="text-md {{float}}">
		{%if x.end-%}
			<time datetime="{{-x.start | machineDate-}}">
				{{-x.start | fmtDate: lang-}}
			</time>
			<span aria-label="{{-messages.to[lang]-}}">&ndash;</span>
			<time datetime="{{-x.end | machineDate-}}">
				{{-x.end | fmtDate: lang-}}
			</time>
		{%else%}
			{{-messages.since[lang]-}}
			<time datetime="{{x.start | machineDate}}">
				{{x.start | fmtDate: lang-}}
			</time>
		{%-endif-%}
		</p>
		<h3 class="font-bold text-lg">{{x.org}}</h3>
		<h4 class="font-bold text-lg {{clear}} {{float}} max-w-[60%]">{{x.title}}
			{%-if x.subtitle-%}<br />{{x.subtitle}}{%-endif-%}
		</h4>
		{%-if x.dept-%}
			<p>{{x.dept}}</p>
		{%-endif-%}
		<p class="text-md before:text-slate-600 before:ml-px before:content-fa-pindot">
		{{x.location}}
		</p>
	</header>

	<main>
		<ul class="ml-4 list-disc list-outside">
			{%for item in x.list%}
				{%if item.first%}
					<li>{{item[0]}}
							<ul class="list-disc marker:font-sm ml-6">
							{%for subitem in item offset:1 %}
								<li>{{-subitem-}}</li>
							{%endfor%}
					</ul></li>
				{%else%}
					<li>{{-item-}}</li>
				{%endif%}
			{%endfor%}
		</ul>
	</main>

</article>
