{%assign x = experience[exp_code][lang]%}
<article class="p-2 bg-bg last-of-type:border-b-0 border-b-2 border-b-primary">

	<header class="flow-root pl-px pb-px thatonefancyborder from-secondary to-60%">
		<p class="text-md text-right float-right">
		{%if x.end-%}
			<time datetime="{{-x.start | machineDate-}}">
				{{-x.start | fmtDate: lang-}}
			</time>
			<span aria-label="{{-messages.to[lang]-}}">&ndash;</span>
			<time datetime="{{-x.end | machineDate-}}">
				{{-x.end | fmtDate: lang-}}
			</time>
		{%else%}
			{{-messages.since[lang]-}}
			<time datetime="{{x.start | machineDate}}">
				{{x.start | fmtDate: lang-}}
			</time>
		{%-endif-%}
		</p>
		<h3 class="font-bold w-max text-lg">{{x.org}}</h3>
		<h4 class="font-bold text-lg clear-right float-right w-max">{{x.title}} </h4>
		{%-if x.dept-%}
			<p>{{x.dept}}</p>
		{%-endif-%}
		<p class="text-md before:text-slate-600 before:ml-px before:content-fa-pindot">
		{{x.location}}
		</p>
	</header>

	<section>
		<ul class="ml-4 list-disc list-outside indent-2">
			{%for item in x.list%}
				<li>{{-item-}}</li>
			{%endfor%}
		</ul>
	</section>

</article>
