{%assign x = experience[exp_code][lang]%}
<article class="grid grid-cols-[2fr_3fr] gap-px">
	<header class="col-span-2">
		<h3 class="font-bold">{{x.org}}</h3>
		<p class="text-md">{{x.title}}</p>
	</header>
	<section>
			<p>{{x.location}}</p>
		{%if x.end%}
			<p class="text-md">{{x.start | fmtDate: lang}}&ndash;{{x.end | fmtDate: lang}}</p>
		{%else%}
			<p class="text-md">
			{{-messages.since[lang]}} {{x.start | fmtDate: lang-}}
			</p>
		{%endif%}
		</p>
	</section>
	<section>
		<ul class="list-disc mx-5">
			{%for item in x.list%}
				<li>{{-item-}}</li>
			{%endfor%}
		</ul>
	</section>

</article>
