{%assign x = experience[exp_code][lang]%}
{%if direction == "rtl"%}
	{%assign float = "float-left text-left"%}
	{%assign clear = "clear-left"%}
	{%assign align = "text-right"%}
{%else%}
	{%assign float = "float-right text-right"%}
	{%assign clear = "clear-right"%}
	{%assign align = "text-left"%}
{%endif%}
<article class="first-of-type:pt-0 p-2 bg-bg break-inside-avoid">

	<header class="flow-root pb-1 {{align}}">

		<p class="text-md {{float}}">
		{%if x.end-%}
			<time datetime="{{-x.start | machineDate-}}">
				{{-x.start | fmtDate: lang-}}
			</time>
			<span aria-label="{{-messages.to[lang]-}}">&ndash;</span>
			<time datetime="{{-x.end | machineDate-}}">
				{{-x.end | fmtDate: lang-}}
			</time>
		{%else%}
			{{-messages.since[lang]-}}
			<time datetime="{{x.start | machineDate}}">
				{{x.start | fmtDate: lang-}}
			</time>
		{%-endif-%}
		</p>

		{%if x.title%}
		<p class="font-semibold leading-none text-xl {{clear}} {{float}} max-w-[60%]">{{x.title}}
			{%-if x.subtitle-%}<br /><span class="text-lg">{{x.subtitle}}</span>{%-endif-%}
		</p>
		{%endif%}

		<h3 class="font-semibold text-xl">{{-x.org-}}</h3>

		<p class="text-md before:text-slate-600 before:mr-1 before:content-fa-pindot">
		{{-x.location-}}
		</p>

		{%-if x.dept-%}
			<p class="">{{x.dept}}</p>
		{%-endif-%}

	</header>

	<main>
		<ul class="ml-4 list-disc list-outside">
			{%for item in x.list%}
				{%if item.first%}
					<li>{{item[0]}}
							<ul class="list-disc marker:font-sm ml-6">
							{%for subitem in item offset:1 %}
								<li>{{-subitem-}}</li>
							{%endfor%}
					</ul></li>
				{%else%}
					<li>{{-item-}}</li>
				{%endif%}
			{%endfor%}
		</ul>
	</main>

</article>
