{%assign x = experience[exp_code][lang]%}
<article class="p-2">
	<header class="col-span-2">
		<h3 class="font-bold">{{x.org}}</h3>
	<section class="flex justify-between items-center">
		<h4>{{x.title}}</h4>
		<p class="before:content-fa-pindot text-md">
		{{x.location}}
		</p>
			<p class="text-md before:content-fa-calendar">
				{%if x.end%}
					{{x.start | fmtDate: lang}}&ndash;{{x.end | fmtDate: lang}}
				{%else%}
					{{-messages.since[lang]}} {{x.start | fmtDate: lang-}}
				{%endif%}
			</p>
	</section>
	</header>
	<section>
		<ul class="list-disc list-inside indent-2">
			{%for item in x.list%}
				<li>{{-item-}}</li>
			{%endfor%}
		</ul>
	</section>

</article>
