---
layout: base.liquid
---
{%-capture contentid-%}
	{%-getBundle "contentid"-%}
{%-endcapture-%}
{%if contentid%}
<a class="sr-only focus:not-sr-only focus:absolute bg-bg z-10"
   href="#{{-contentid-}}">
	{{messages.skip[lang]}}
</a>
{%endif%}

<aside title="{{messages.toolbar[lang]}}" class="relative left-0 top-0 print:hidden items-center justify-end flex text-sm">
	<button class="px-3 h-full">{{-messages.print[lang]-}}</button>
	<button class="px-3 h-full">{{-messages.download[lang]-}}</button>

	<button class="px-3 h-full peer"
			aria-label="{{messages.chooselang[lang]-}}"
			title="{{-messages.chooselang[lang]-}}">
		{{lang}}
	</button>
	<nav class="sr-only
				top-full right-0
				peer-focus:absolute peer-hover:absolute
				hover:absolute focus:absolute
				hover:not-sr-only focus:not-sr-only
				has-[:focus]:not-sr-only
				has-[:focus]:absolute
				peer-focus:not-sr-only peer-hover:not-sr-only">
		<ul class="bg-bg p-2 pt-px">
			{%for lang in site.langs%}
				<li lang="{{lang[0]}}"><a href="/{{lang[0]}}/">{{lang[1].name}}<a></li>
			{%endfor%}
		</ul>
	</nav>
	</button>

</aside>

<main>
{{ content }}
</main>

<footer class="print:hidden text-center">
	&copy; Kevin Samuel 2025
</footer>
