---
layout: page.liquid
---

{%contentid%}
{{messages.cv[lang]}}
{%endcontentid%}
<article id="{{messages.cv[lang]}}" class="grid p-2 md:p-4 grid-rows-[max-content_auto] gap-2 grid-cols-[1fr_3fr] h-full">
	<header class="col-span-2 max-h-max grid-flow-col
		grid md:grid-cols-[3fr_2fr] print:grid-cols-[3fr_2fr]">
		<h1 class="text-4xl font-bold">{{-name[lang]-}}</h1>
		<p class="">{{-kicker[lang]-}}</p>
		<address class="not-italic row-span-2 pl-2 border-l-4 border-primary">
			<ul title="{{-messages.contactme[lang]-}}"
				class="flex flex-col text-right">
				{%for contact in socials.contacts-%}
					<li><a target="_blank"
						   class="underline print:no-underline"
						   referrerpolicy="no-referrer"
						   href="{{contact[1].link}}">
							{{contact[1].text}}
						</a></li>
				{%-endfor%}
			</ul>
			<aside class="text-right flex justify-end gap-2">
				<p class="leading-tight">
				@kevinnlsamuel<br/>
				<span class="text-sm">{{messages.on[lang]}}</span>
				</p>
				<ul class="grid gap-y-px gap-x-2 grid-flow-col justify-end auto-cols-min">
					{%for row in socials.sns-%}
						{%assign rowindex = forloop.index%}
						{%for social in row-%}
							<a target="_blank"
							   style="grid-column-start: {{rowindex}}" 
							   referrerpolicy="no-referrer"
							   class="fa text-lg w-full h-full"
							   aria-label="{{social[0]}}"
							   title="{{social[0]}}"
							   href="{{social[1].link}}">
								<li >
									{{social[1].text}}
								</li>
							</a>
						{%endfor%}
					{%-endfor%}
			</aside>
		</address>
	</header>
	<section>
	</section>
	<section class="grid gap-2">
		<section class="rounded bg-secondary">
			<h2>{{messages.experience[lang]}}</h2>
			{%render 'card.liquid' with experience.hisk[lang] as x, lang: lang, messages: messages%}
		</section>
		<section class="rounded bg-secondary">
			<h2>{{messages.education[lang]}}</h2>
		</section>
		<section class="rounded bg-secondary">
			<h2>{{messages.certification[lang]}}</h2>
		</section>
	</section>
</article>
