---
layout: page.liquid
---

{%contentid%}
{{messages.cv[lang]}}
{%endcontentid%}
<article id="{{messages.cv[lang]}}" class="grid p-2 md:p-4 grid-rows-[max-content_auto] gap-2 grid-cols-[1fr_3fr] h-full">
	<header class="col-span-2 max-h-max
		grid md:grid-cols-[3fr_2fr] print:grid-cols-[3fr_2fr] gap-2">
		<h1 class="text-4xl font-bold">{{-name[lang]-}}</h1>
		<p class="order-3">{{-kicker[lang]-}}</p>
		<address class="not-italic order-2">
			<ul title="{{-messages.contactme[lang]-}}"
				class="text-right row-span-2">
				{%for contact in socials.contacts-%}
					<li class="underline">
						<a target="_blank"
						   referrerpolicy="no-referrer"
						   href="{{contact[1].link}}">
							{{contact[1].text}}
						</a></li>
				{%-endfor%}
			</ul>
		</address>
		<aside class="text-right order-4 grid auto-rows-min gap-2">
			<p>
				@kevinnlsamuel
				<span class="text-sm">{{messages.on[lang]}}</span>
			</p>
			<ul class="grid gap-x-4 grid-flow-col justify-end auto-cols-min">
				{%for row in socials.sns-%}
					{%assign rowindex = forloop.index%}
					{%for social in row-%}
						<li style="grid-column-start: {{rowindex}}" >
						<a target="_blank"
						   referrerpolicy="no-referrer"
						   class="fa"
						   aria-label="{{social[0]}}"
						   title="{{social[0]}}"
						   href="{{social[1].link}}">
							{{social[1].text}}
						</a></li>
					{%endfor%}
				{%-endfor%}
			</ul>
		</aside>
	</header>
	<section>
	</section>
	<section class="grid gap-2">
		<section class="rounded bg-secondary">
			<h2>{{messages.experience[lang]}}</h2>
			{%render 'card.liquid' with experience.hisk[lang] as x, lang: lang, messages: messages%}
		</section>
		<section class="rounded bg-secondary">
			<h2>{{messages.education[lang]}}</h2>
		</section>
		<section class="rounded bg-secondary">
			<h2>{{messages.certification[lang]}}</h2>
		</section>
	</section>
</article>
