---
layout: page.liquid
---

{%contentid%}
{{messages.cv[lang]}}
{%endcontentid%}
<article id="{{messages.cv[lang]}}"
		 class="h-full
				grid gap-2 grid-rows-[max-content_auto]
				md:grid-cols-[1fr_3fr] print:grid-cols-[1fr_3fr]
				">
	<header class="md:col-span-2 print:col-span-2
				   grid grid-flow-row gap-2 md:gap-0 print:gap-0
				   md:grid-flow-col print:grid-flow-col
				   md:grid-cols-[3fr_2fr] print:grid-cols-[3fr_2fr]
				   ">
		<h1 class="text-4xl font-bold">{{-name[lang]-}}</h1>
		<p>{{-kicker[lang]-}}</p>
		<address class="not-italic md:row-span-2 print:row-span-2 pl-2 md:border-l-4 border-primary">
			<ul title="{{-messages.contactme[lang]-}}"
				class="flex flex-col text-right">
				{%for contact in socials.contacts-%}
					<li><a target="_blank"
						   class="underline print:no-underline"
						   referrerpolicy="no-referrer"
						   href="{{contact[1].link}}">
							{{contact[1].text}}
						</a></li>
				{%-endfor%}
			</ul>
			<aside class="text-right flex justify-end items-center gap-2">
				<p class="leading-tight">
				@kevinnlsamuel<br/>
				<span class="text-sm">{{messages.on[lang]}}</span>
				</p>
				<ul class="grid gap-y-px gap-x-2 grid-flow-col justify-end auto-cols-min">
					{%for row in socials.sns-%}
						{%assign rowindex = forloop.index%}
						{%for social in row-%}
							<a target="_blank"
							   style="grid-column-start: {{rowindex}}"
							   referrerpolicy="no-referrer"
							   class="font-fa text-lg w-full h-full"
							   aria-label="{{social[0]}}"
							   title="{{social[0]}}"
							   href="{{social[1].link}}">
								<li >
									{{social[1].text}}
								</li>
							</a>
						{%endfor%}
					{%-endfor%}
			</aside>
		</address>
	</header>
	<section class="flex flex-col h-full justify-around">
		<section>
			<h3>School Education</h3>
		</section>
		<section>
			<h3>Languages</h3>
		</section>
		<section>
			<h3>Professional Skills</h3>
		</section>
		<section>
			<h3>Technical Skills</h3>
		</section>
		<section>
			<h3>Hobbies</h3>
		</section>
	</section>
	<section class="grid">
		<section class="rounded bg-primary">
			<h2>{{messages.experience[lang]}}</h2>
			{%include './_includes/card.liquid', exp_code: 'hisk'%}
			{%include './_includes/card.liquid', exp_code: '2024-ccd'%}
		</section>
		<section class="rounded">
			<h2>{{messages.education[lang]}}</h2>
		</section>
		<section class="rounded">
			<h2>{{messages.certification[lang]}}</h2>
		</section>
	</section>
</article>
