---
layout: page.liquid
---

{%contentid%}
{{messages.cv[lang]}}
{%endcontentid%}
<article id="{{messages.cv[lang]}}"
		 class="min-h-full
				grid gap-2 grid-rows-[max-content_auto]
				">

	<header class="grid gap-2 md:gap-0 print:gap-0
				   grid-flow-row md:grid-flow-col print:grid-flow-col
				   md:grid-cols-[3fr_2fr] print:grid-cols-[3fr_2fr]
				   ">
		<h1 class="text-4xl font-bold">{{-name[lang]-}}</h1>
		<p>{{-kicker[lang]-}}</p>
		<address class="not-italic md:row-span-2 print:row-span-2 pl-2">
			<ul title="{{-messages.contactme[lang]-}}"
				class="flex flex-col text-right">
				{%for contact in socials.contacts-%}
					<li><a target="_blank"
						   class="underline print:no-underline"
						   referrerpolicy="no-referrer"
						   href="{{contact[1].link}}">
							{{contact[1].text}}
						</a></li>
				{%-endfor%}
			</ul>
			<aside class="text-right flex justify-end items-center gap-2">
				<p class="leading-tight">
				@kevinnlsamuel<br/>
				<span class="text-sm">{{messages.on[lang]}}</span>
				</p>
				<ul class="grid gap-y-px gap-x-2 grid-flow-col justify-end auto-cols-min">
					{%for row in socials.sns-%}
						{%assign rowindex = forloop.index%}
						{%for social in row-%}
							<a target="_blank"
							   style="grid-column-start: {{rowindex}}"
							   referrerpolicy="no-referrer"
							   class="font-fa text-lg w-full h-full"
							   aria-label="{{social[0]}}"
							   title="{{social[0]}}"
							   href="{{social[1].link}}">
								<li >
									{{social[1].text}}
								</li>
							</a>
						{%endfor%}
					{%-endfor%}
			</aside>
		</address>
	</header>

	<section class="grid gap-1 print:grid-cols-2 md:grid-cols-2">

		<section class="space-y-1">
			<h3 class="section-head">{{messages.brief[lang]}}</h3>
			<ul>
				{%for item in brief[lang]%}
					{%-assign next = brief[lang][forloop.index+1]-%}
					{%if item%}
						<li class="{%if next==null%}last-of-type:border-0 gradborder-b from-bg to-bg via-10% to-90% via-slate-400/40{%endif%}">
							{{-item-}}
						</li>
					{%endif%}
				{%endfor%}
			</ul>
		</section>

		<section class="space-y-1">
			<h3 class="section-head">{{messages.languages[lang]}}</h3>
			<dl class="list-none table">
				{%for language in languages %}
					<div class="table-row">
						<dt class="text-nowrap table-cell pr-1.5">{{language[lang]}}</dt>
						<dd class="table-cell italic">{{messages.fluency[language.fluency][lang]}}</dd>
					</div>
				{%endfor%}
			</dl>
		</section>

		<section class="space-y-1">
			<h3 class="section-head">{{messages.professionalskills[lang]}}</h3>
			<ul class="inline-list">
			{%for skill in skills.professional %}
				{%if skill[lang]%}
				<li class="">{{skill[lang]}}</li>
				{%endif%}
			{%endfor%}
			</ul>
		</section>


		<section class="space-y-1">
			<h3 class="section-head">{{messages.technicalskills[lang]}}</h3>
			<ul class="inline-list">
				{%for skill in skills.technical %}
					<li class="">{{skill}}</li>
				{%endfor%}
			</ul>
		</section>

	</section>

	<section class="space-y-2 graddivide-y from-primary" style="--gradwidth: 2px;">
		<h2 class="section-head">{{messages.experience[lang]}}</h2>
		{%include './_includes/card.liquid', exp_code: '2025-c2c'%}
		{%include './_includes/card.liquid', exp_code: '2025-hisk'%}
		{%include './_includes/card.liquid', exp_code: '2024-ccd'%}
		{%include './_includes/card.liquid', exp_code: '2022-fei'%}
	</section>

	<section class="space-y-2 graddivide-y from-primary" style="--gradwidth: 2px;">
		<h2 class="section-head">{{messages.education[lang]}}</h2>
		{%include './_includes/card.liquid', exp_code: '2024-eflu', direction: 'rtl'%}
		{%include './_includes/card.liquid', exp_code: '2021-mcc', direction: 'rtl'%}
		{%include './_includes/card.liquid', exp_code: '2018-mcc', direction: 'rtl'%}
	</section>

	<section class="">
		<h2 class="section-head">{{messages.certification[lang]}}</h2>
		<table class="w-full">
			<tbody class="divide-y divide-slate-400/40">
			{%include './_includes/certificate.liquid', cert_code: '2024-swayam-introc'%}
			{%include './_includes/certificate.liquid', cert_code: '2024-swayam-basicslangsci'%}
			{%include './_includes/certificate.liquid', cert_code: '2018-delf-b2'%}
			{%include './_includes/certificate.liquid', cert_code: '2015-abrsm-theory-5'%}
			</tbody>
		</table>
	</section>

	<section class="space-y-1">
		<h3 class="section-head">{{messages.hobbies[lang]}}</h3>
		<ul class="flex gap-2 flex-wrap pill-list">
		{%for hobby in hobbies %}
			{%if hobby[lang]%}
			<li >{{hobby[lang]}}</li>
			{%endif%}
		{%endfor%}
		</ul>
	</section>

</article>
