---
layout: base.liquid
---
<header title="{{-name[lang]-}}" class="print:hidden items-center justify-end gap-3 flex">
	<button>{{-messages.print[lang]-}}</button>
	<button>{{-messages.download[lang]-}}</button>
	<div class="w-14 lg:w-32">
		{%renderFile './_includes/langswitcher.liquid'%}
    </div>
</header>
<main>
	<article class="grid grid-rows-[max-content_auto] grid-cols-[1fr_3fr] h-full">
		<header class="col-span-2 max-h-max">
			<h1>{{-name[lang]-}}</h1>
			<p>{{-kicker[lang]-}}</p>
		</header>
		<section>
			<header>
				<h2>Education</h2>
			</header>
		</section>
		<section>
		</section>
	</article>
</main>
<footer class="print:hidden text-center">
	&copy; Kevin Samuel 2025
</footer>
